@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Amble-Regular-webfont.woff2') format('woff2'), url('fonts/Amble-Regular-webfont.woff') format('woff'), url('fonts/Amble-Regular-webfont.ttf') format('truetype'), url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}

ul {
    text-align: justify;
}

h1 {
    text-align: left;
    font-size: 60px;
    padding-top: 20px;
}

strong {
    color: rgb(0, 230, 118)
}

body {
    display: block;
    background-color: white;
    margin: 0px auto;
    font-family: 'ambleregular', 'Impact', "arial Black";
}

p,
ul {
    color: black;
}

h4 {
    font-size: 25px;
    padding-bottom: 5px;
}

h2,
h1,
h3,
h4 {
    color: black;
    font-weight: bold;
    margin: 0;
}

#contenu {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}

#contenu h2 {
    margin-bottom: 30 px;
}

#liseret {
    width: 100%;
    background-color: rgb(0, 230, 118);
    display: flex;
    flex-direction: column;
    order: 1;
}

#liseret a {
    text-decoration: none;
    color: black;
}

#liseret .photo {
    order: 1;
}

#liseret .contact-info {
    width: 50%;
}

#liseret #loisirs {
    margin-bottom: 0;
    margin-top: auto;
}

#liseret #contact {
    display: flex;
}

img {
    display: block;
    margin: 6% auto 0px auto;
    height: auto;
    width: 60%;
    position: relative;
    align-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.title i {
    color: rgb(0, 230, 118);
    padding-right: 20px;
    font-size: 30px;
}

h3 {
    vertical-align: middle;
    border-bottom: solid 3px rgb(0, 230, 118);
}

.liseret-title {
    background: rgb(100, 100, 100);
    color: rgb(0, 230, 118);
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
}

.liseret-content {
    padding: 20px;
    margin: 0;
    text-align: justify;
}

.liseret-content p {
    margin: 0 0 0 0;
}

.icone {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 50px;
    text-align: center;
}

.contact-info h3 {
    padding-top: 20px;
    font-size: 1em;
    font-weight: normal;
}

@media screen and (max-width: 1024px) {}

@media screen and (min-width: 1024px) {
    #container {
        flex-wrap: nowrap;
    }
    #liseret {
        width: 40%;
        order: 0;
        margin-right: 3%;
    }
    img {
        width: 60%;
    }
    #liseret #contact {
        flex-wrap: wrap;
    }
    #liseret .contact-info {
        width: 100%;
    }
    #liseret .photo {
        order: 0;
    }
    .liseret-title {
        background: rgb(100, 100, 100);
        color: rgb(0, 230, 118);
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
    }
}